.searchHeader {
  background-color: #570481;
  border-bottom: 1px solid #db2da7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inputWrapper {
  position: relative;
}

.searchInput {
  height: 40px;
  max-width: 400px;
  padding: 12px 16px;
  border: none;
  border-left: none;
  border-radius: 0 10px 10px 0;
  font-size: 16px;
  flex: 1;
  margin-right: 8px;
}

.searchButton {
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 12px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
