.searchHeader {
  background-color: #570481;
  border-bottom: 1px solid #db2da7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 8px;
}

.inputWrapper {
  position: relative;
}

.searchInput {
  border: none;
  border-left: none;
  display: block;
  border-radius: 0 10px 10px 0;
  height: 40px;
  max-width: 400px;
  padding: 12px 16px;
  font-size: 16px;
}

.searchButton {
  height: 40px;
  padding: 5px;
  background-color: #fff;
  color: #fff;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  cursor: pointer;
}
