.closeButton {
  position: absolute;
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
  right: 0;
  top: 0;
  background-color: transparent;
  font-size: 40px;
  color: lightgreen;
}
.imageModal {
  /* width: 850px;
  height: 600px;
  object-fit: cover;
  border-radius: 8px; */
  display: block;
  width: 100%;
  height: 600px;
}
.overlay {
  inset: 0;
  position: fixed;
  background-color: rgba(225, 8, 131, 0.455);
}